*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    background: #08090B;
    color: white;
    font-family: 'Inter', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 10px;
}
.logo img{
    width: 150px;
    filter: invert(100%)
}

nav ul{
    display: flex;
    list-style: none;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
nav ul button{
    padding: 8px;
    margin: 3px;
    border-radius: 8px;
    border: none;
    color: white;
    
}
.talk{
    background-color: rgba(21, 21, 23, 1);
}
.get-started{
    background-color:rgba(22, 110, 63, 1) ;
}

.container{
    display: flex;
}

.container .left{
    width: 20vw;
    border: 2px solid red;
}

.container .right{
    border-radius: 10px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right{
    background-image: url("assests/Mintlify/background-light.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1000px auto;
    padding: 150px 0;
}
.header{
    margin-top: 150px;
}

.header h2{
    font-size: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.header p{
    max-width: 600px;
    margin: auto;
    color: #9aa4a6;
    line-height: 1.5;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 60%;
    margin: auto;
}

.card{
    padding: 10px;
    padding-top: 40px;
    border-radius: 20px;
}

.card img{
    width: 300px;
    border-radius:8px;
}

